section.section.email
    .container
        .email_content
            h2.email_title Subscribe to get information, latest news and other interesting offers about Cobham
            form(action="#").email_form
                .input_group
                    include ../../img/email/mail.svg
                    input(type="mail" class="i-mail" placeholder="Your email")
                button(type="submit" class="send-form") Subscribe
            img(src="../../img/email/email-circle-decor1.svg", alt="circle-decor" class="email_circle_img_decor1")
            img(src="../../img/email/email-circle-decor1.svg", alt="circle-decor" class="email_circle_img_decor2")
        img(src="../../img/email/message.svg", alt="message" class="email_messsage_decor_img")
        .decor_plus
            table#gridTable