section.section.welcome
    .container
        .welcome_text_content
            p.welcome_top_title Best Destinations around the world
            h1.welcome_title Travel, <span class="welcome_top_title__decore">enjoy</span> and live a new and full life
            p.welcome_subtitle Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.
            .welcome_text_content__btns_wrapper
                button.find_out_more Find out more
                button.play_video
                    .icon_play
                        include ../../img/welcome/play.svg
                    | Play Demo
        .welcome_img_content
            img(src="../../img/welcome/plane.svg", alt="plane" class="plane1")
            img(src="../../img/welcome/traveller.webp", alt="traveller" class="traveller")
            img(src="../../img/welcome/plane.svg", alt="plane" class="plane2")
